.widget {
    mat-icon {
        width: 100px;
        height: 100px;
        font-size: 100px;
    }
}

.book-widget {
    background-color: #2196f3;
}

.author-widget {
    background-color: #f44336;
}

.category-widget {
    background-color: #4caf50;
}