<mat-toolbar color="primary">
    <span>LMS Demo</span>

    <div class="ms-4 d-flex gap-2">
        <a mat-button class="navbar-header-item" href="/home" routerLink="home"
            routerLinkActive="navbar-header-item-selected">
            <span>Home</span>
        </a>
        <a mat-button href="/categories" class="navbar-header-item" routerLink="categories"
            routerLinkActive="navbar-header-item-selected">
            <span>Categories</span>
        </a>
        <a mat-button href="/books" routerLink="books" class="navbar-header-item"
            routerLinkActive="navbar-header-item-selected">
            <span>Books</span>
        </a>
    </div>

    <div class="ms-auto">
        <a mat-button class="navbar-header-item" href="/signIn" routerLink="account/login" *ngIf="!isLoggedIn"
            routerLinkActive="navbar-header-item-selected">
            <span>Sign In</span>
        </a>

        <div class="d-flex align-items-center gap-1 cursor-pointer" [matMenuTriggerFor]="userMenu" *ngIf="isLoggedIn">
            <mat-icon class="account-icon">account_circle</mat-icon>
            <span>{{firstName}}</span>
        </div>
        <mat-menu #userMenu="matMenu">
            <div class="user-menu d-flex gap-2 p-2 border-bottom">
                <mat-icon class="account-icon text-muted">account_circle</mat-icon>
                <div class="d-flex flex-column">
                    <div>
                        <span>{{firstName}}</span>
                        <span class="ms-1">{{lastName}}</span>
                    </div>
                    <div class="text-muted">
                        <span>{{ email}}</span>
                    </div>
                </div>
            </div>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="p-3">
    <router-outlet></router-outlet>
</div>