<mat-toolbar color="primary">
    <span>LMS Demo</span>

    <div class="ms-4 d-flex gap-2">
        <a mat-button class="navbar-header-item" href="/home" routerLink="home"
            routerLinkActive="navbar-header-item-selected">
            <span>Home</span>
        </a>
        <a mat-button href="/categories" class="navbar-header-item" routerLink="categories"
            routerLinkActive="navbar-header-item-selected">
            <span>Categories</span>
        </a>
        <a mat-button href="/books" routerLink="books" class="navbar-header-item"
            routerLinkActive="navbar-header-item-selected">
            <span>Books</span>
        </a>
    </div>

    <div class="ms-auto">
        <a mat-button class="navbar-header-item" href="/signIn" routerLink="account/login"
            *ngIf="!(isLoggedIn$ | async)" routerLinkActive="navbar-header-item-selected">
            <span>Sign In</span>
        </a>
        <div class="d-flex align-items-center gap-1" *ngIf="isLoggedIn$ | async">
            <!-- <mat-icon>account_circle</mat-icon>
            <span>{{firstName$ | async}}</span> -->
            <button mat-icon-button matTooltip="Logout" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
<div class="p-3">
    <router-outlet></router-outlet>
</div>