<mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="selectCategory($event)">
        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
            {{category.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<table mat-table [dataSource]="list" class="mat-elevation-z8 w-100">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
            <a href="/details" [routerLink]="element.id">
                {{element.name}}
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
    </ng-container>
    <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.authorId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>