<h1 class="mb-3">Book Details</h1>
<div class="fs-3 p-4 d-flex flex-column gap-2">
    <div>
        <span class="text-muted">
            Name:
        </span>
        <span class="ms-2">
            {{ book.name }}
        </span>
    </div>
    <div>
        <span class="text-muted">
            Category:
        </span>
        <span class="ms-2">
            {{ book.categoryId | categoryName | async}}
        </span>
    </div>
    <div>
        <span class="text-muted">
            Author:
        </span>
        <span class="ms-2">
            {{ book.authorId | authorName | async}}
        </span>
    </div>
</div>