<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Category Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="form.controls['name'].hasError('required')">this field is required</mat-error>
                        <mat-error *ngIf="form.controls['name'].hasError('duplicatedName')">this name is already
                            exist</mat-error>
                    </mat-form-field>
                </form>
                <p class="d-flex align-items-center gap-1">
                    <span>Books count:</span>
                    <span *ngIf="booksCount$ | async as booksCount; else loading" class="ms-1">
                        {{booksCount}}
                    </span>
                    <ng-template #loading>
                        <mat-spinner [diameter]="24"></mat-spinner>
                        <span class="ms-1">
                            loading..
                        </span>
                    </ng-template>
                </p>

            </div>
            <div class="modal-footer gap-2">
                <button type="button" mat-stroked-button color="accent" data-bs-dismiss="modal">Cancel</button>
                <button type="button" mat-flat-button color="primary" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>