<div class="modal fade" id="categoryDetailsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Category Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="form.controls['name'].hasError('required')">this field is required</mat-error>
                        <mat-error *ngIf="form.controls['name'].hasError('duplicatedName')">this name is already
                            exist</mat-error>
                    </mat-form-field>
                </form>
                <p class="d-flex align-items-center gap-1">
                    <span>Books count:</span>
                    <span class="fw-bold" *ngIf="booksCount$ | async as booksCount; else loading">
                        {{booksCount}}
                    </span>
                    <ng-template #loading>
                        <mat-spinner [diameter]="24"></mat-spinner>
                        <span>
                            loading..
                        </span>
                    </ng-template>
                </p>

            </div>
            <div class="modal-footer">
                <div class="d-flex gap-1 me-auto" *ngIf="inProgress">
                    <mat-spinner [diameter]="24" [strokeWidth]="3"></mat-spinner>
                    <span>checking name..</span>
                </div>
                <button type="button" class="btn btn-outline-secondary" #closeBtn
                    data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" [disabled]="inProgress || form.invalid"
                    (click)="save(closeBtn)">Save</button>
            </div>
        </div>
    </div>
</div>